@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    min-width: 1190px;
}

body,
button,
input,
select,
table,
textarea{
    font-family: -apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
}

/* whale 박스 관련 CSS */
.box-whale{
    height: 49px;
    background-color: rgb(0, 203, 174);
}

.link-whale{
    display: block;
    width: 100%;
    height: 49px;
}

.icon-whale{
    display: block;
    margin-top: 9px;
    width: 110px;
    height: 30px;
    background-position: -276px -225px;
    float: left;
}

.img-banner-whale{
    width: 150px;
    height: auto;
    display: block;
    float: left;
    margin-left: 120px;
}

.text-banner{
    font-weight: bold;
    margin-left: 388px;
    color: #fff;
    font-size: 13px;
    line-height: 49px;
    letter-spacing: -.25px;
}

.text-underline{
    text-decoration: underline;
}

.bn-btn-download{
    color: #00cbae;
    background-color: #fff1c0;
    font-size: 11px;
    width: 68px;
    height: 28px;
    margin-left: 20px;
    letter-spacing: -1px;
    border-radius: 2px;
    border: 0;
}

.bn-btn-close{
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 30px;
    height: 49px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.bn-btn-close::after{
    display: inline-block;
    background-position: -429px -116px;
    width: 23px;
    height: 23px;
    content: '';
    margin: -5px 0 0 4px;
    vertical-align: top;
}

#header{
    position: relative;
    z-index: 2000;
    background-color: #fff;
}

/* 검색창 관련 CSS */
.box-container-search{
    height: 161px;
    border-bottom: 1px solid #e4e8eb;
}

.logo-area{
    position: relative;
    height: 100%;
}

.logo{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}

.link-logo{
    display: inline-block;
    width: 222px;
    height: 52px;
    vertical-align: top;
    background-position: 0 -161px;
}

.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.service-area{
    position: absolute;
    top: 12px;
    right: 27px;
}

.link-set{
    font-size: 11px;
    float: left;
    color: #404040;
    line-height: 16px;
}

.link-set:hover{
    text-decoration: underline;
}

.link-set::after{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: -3px 0 0 3px;
    content: '';
    vertical-align: top;
    background-position: -391px -225px;
}

.sa-bar{
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #e4e8eb;
}

.service-area .link-jrnaver{
    float: left;
}

.service-area .link-jrnaver .icon-jrnaver{
    display: inline-block;
    width: 60px;
    height: 10px;
    margin: 3px;
    vertical-align: top;
    background-position: -348px -260px;
}

.service-area .link-jrnaver:hover .icon-jrnaver{
    display: inline-block;
    width: 60px;
    height: 10px;
    vertical-align: top;
    background-position: -214px -308px;
}

.service-area .link-happybin{
    float: left;
    margin-left: 6px;
}

.service-area .link-happybin .icon-happybin{
    display: inline-block;
    width: 34px;
    height: 11px;
    margin: 3px 3px 2px;
    vertical-align: top;
    background-position: -253px -323px;
}

.service-area .link-happybin:hover .icon-happybin{
    display: inline-block;
    width: 34px;
    height: 11px;
    vertical-align: top;
    background-position: -214px -323px;
}

.service-area::after {
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}

fieldset{
    border: 0;
}

.search-area{
    position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -27px;
}

.search-area .green-window{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}

.search-area .input-text{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 444px;
    height: 24px;
    margin: 1px;
    padding: 13px;
    transition: margin .2s cubic-bezier(.215,.61,.355,1);
    color: #000;
    outline: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;
}

.search-area .btn-submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    border-radius: 0 2px 2px 0;
    background-color: #19ce60;
    border: 0;
}

.search-area .btn-submit .icon-search-submit{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;
    background-position: -429px -172px;
}

.search-area .btn-keyboard{
    position: absolute;
    z-index: 400;
    top: 0;
    right: 84px;
    bottom: 0;
    width: 36px;
}

.search-area .btn-keyboard .icon-keyboard{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 20px;
    height: 12px;
    margin: -6px 0 0 -10px;
    vertical-align: top;
    background-position: -400px -276px;
}

.search-area .btn-keyboard:hover .icon-keyboard{
    display: inline-block;
    width: 20px;
    height: 12px;
    vertical-align: top;
    background-position: -64px -404px;
}

.search-area .btn-keyboard .msg-keyboard{
    position: absolute;
    top: 42px;
    left: -16px;
    display: none;
    width: 68px;
    height: 37px;
    vertical-align: top;
    background-position: -161px -115px;
}

.search-area .btn-keyboard:hover .msg-keyboard{
    display: block;
}

.search-area .btn-arw{
    position: absolute;
    top: 0;
    right: 64px;
    bottom: 0;
    width: 22px;
}

.search-area .btn-arw.fold .icon-arr{
    display: inline-block;
    width: 10px;
    height: 5px;
    vertical-align: top;
    background-position: -429px -394px;
}

.search-area .btn-arw .icon-arr{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 10px;
    height: 5px;
    margin: -2px 0 0 -5px;
    vertical-align: top;
    background-position: -361px -308px;
}

.search-area .reatcmp {
    position: absolute;
    z-index: 300;
    top: 54px;
    left: 0;
    width: 586px;
    background-color: rgb(255, 255, 255);
}

.api-atcmp-wrap{
    position: relative;
    overflow: hidden;
    border: 1px solid #bec8d8;
    background-color: #fff;
    color: #666;
    zoom: 1;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
}

.api-atcmp-wrap .words .info-words{
    padding: 17px 15px 15px;
    font-size: 12px;
    line-height: 23px;
}

.api-atcmp-wrap .words{
    overflow: hidden;
}

.api-atcmp-wrap .func{
    overflow: hidden;
    clear: both;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #ebeef3;
    border-width: 1px 0 0;
    background: #f9fafc;
    color: #666;
    font-size: 11px;
    line-height: 1.3em;
    letter-spacing: -1px;
}

.api-atcmp-wrap .func .fl{
    float: left;
    padding: 2px 0 0 12px;
}

.api-atcmp-wrap .func a{
    margin: 0 3px;
    color: #666;
}

.api-atcmp-wrap .func .atcmp-bar{
    float: none;
    padding: 0;
    display: inline-block;
    height: 10px;
    margin: -1px 4px 1px;
    border-left: 1px solid #e3e7ee;
    background: transparent none;
    vertical-align: middle;
}

.api-atcmp-wrap .func .report{
    color: #00a617;
}

.api-atcmp-wrap .func span{
    float: right;
    padding: 2px 12px 0 0;
}

.api-atcmp-wrap .atcmp-helper{
    position: absolute;
    display: none;
    overflow: hidden;
    bottom: 32px;
    right: 16px;
    height: 18px;
    padding: 3px 4px 0;
    line-height: 18px;
    color: #444;
    border: 1px solid #00c73c;
    background-color: #f6fbf7;
    z-index: 10;
}

.api-atcmp-wrap .atcmp-helper .icon-search{
    width: 1px;
    height: 13px;
    padding-left: 23px;
    margin-top: 1px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    background: url(https://ssl.pstatic.net/sstatic/search/pc/img/atcmp_spat_v7.png) no-repeat;
    color: transparent;
    text-indent: 0;
    background-position: -34px -64px;
}

/* 메뉴창 관련 CSS */
.box-container-menu{
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

.group-nav{
    position: relative;
    overflow: hidden;
    padding: 11px 220px 11px 0;
}

.list-nav{
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    float: left;
    letter-spacing: -.3px;
    color: #000;
}

.list-nav .nav-item+.nav-item {
    margin-left: 18px;
}

.list-nav .nav-item{
    float: left;
}

.list-nav.type-fix .nav{
    color: #03c75a;
}

.list-nav .icon-mail{
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 3px 9px 0 0;
    vertical-align: top;
    background-position: -429px -227px;
}

.icon-tv{
    display: inline-block;
    width: 12px;
    height: 14px;
    margin: 9px 2px 0 0;
    vertical-align: top;
    background-position: -458px -80px;
}

.list-nav+.list-nav{
    margin-left: 18px;
}

.list-nav .nav{
    text-decoration: none;
    color: inherit;
}

.btn-more{
    font-size: 13px;
    line-height: 30px;
    float: left;
    min-width: 70px;
    margin-left: 17px;
    text-align: right;
    color: #202020;
}

.btn-more:hover{
    text-decoration: underline;
}

.btn-more::after{
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-left: 7px;
    content: '';
    vertical-align: 2px;
    background-position: -458px -432px;
}

.box-container-menu.ly-open .group-nav .btn-more{
    color: #0ecd5a;
}

.box-container-menu.ly-open .group-nav .btn-more:after{
    display: inline-block;
    width: 11px;
    height: 7px;
    vertical-align: top;
    vertical-align: 2px;
    background-position: -458px -420px;
}

.box-container-menu .group-nav .ly-btn-area{
    position: absolute;
    z-index: 10;
    top: 11px;
    right: 0;
    display: none;
    width: 220px;
    text-align: right;
    background-color: #fff;
}

.box-container-menu.ly-open .group-nav .ly-btn-area{
    display: block;
}

.box-container-menu .group-nav .ly-btn-area .btn{
    display: inline-block;
    margin-left: 3px;
    padding: 7px 13px 5px;
    border: 1px solid #dae1e6;
    border-radius: 15px;
    background-color: #fff;
    color: inherit;
}

.group-keyword {
    position: absolute;
    top: 11px;
    right: 30px;
    overflow: hidden;
    width: 210px;
    height: 30px;
}

.group-keyword .keyword-area{
    font-size: 13px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    height: 30px;
}

.group-keyword .link-keyword{
    display: block;
    width: 190px;
    padding-right: 20px;
    text-decoration: none;
}

.group-keyword .icon-error{
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 8px 5px 0 0;
    background-position: -39px -427px;
}

.group-keyword .icon-error+.keyword{
    font-size: 12px;
    letter-spacing: -.5px;
    text-overflow: clip;
    color: #505050;
}

.group-keyword .keyword{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.group-keyword:after{
    position: absolute;
    top: 11px;
    right: 0;
    display: inline-block;
    width: 14px;
    height: 9px;
    content: '';
    vertical-align: top;
    background-position: -389px -211px;
}

.box-container-menu .group-nav .ly-btn-area .btn-set::before{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px 5px 0 0;
    content: '';
    vertical-align: top;
    background-position: -458px -175px;
}

.btn:hover{
    text-decoration: underline;
}

.box-container-menu .group-nav .ly-btn-area .btn-reset::before{
    display: inline-block;
    width: 10px;
    height: 13px;
    margin-right: 6px;
    content: '';
    vertical-align: top;
    background-position: -458px -157px;
}

.box-container-menu .group-nav .ly-btn-area .btn-save {
    color: #fff;
    border-color: #00c73c;
    background-color: #19ce60;
}

.box-container-menu .ly-service{
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    display: none;
    padding: 20px 30px 22px;
    border-top: 1px solid #e4e8eb;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.12);
}

.box-container-menu .group-service{
    display: table;
    overflow: hidden;
    width: 1128px;
    margin: 0 auto;
    table-layout: fixed;
    border-width: 0 1px;
    border-style: solid;
    border-color: #e4e8eb;
}

.box-container-menu .list-service{
    font-size: 13px;
    line-height: 26px;
    display: table-cell;
    padding: 0 18px 0 19px;
}

.box-container-menu .list-service .service-title{
    font-weight: 700;
    margin-bottom: 3px;
    color: #000;
}

.box-container-menu .service-data a:hover{
    text-decoration: underline;
}

.box-container-menu .list-service+.list-service{
    border-left: 1px solid #e4e8eb;
}

.box-container-menu .list-service .link-dic{
    display: inline-block;
    margin-top: 5px;
    color: grey;
}

.box-container-menu .list-service .link-dic::after{
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 7px;
    content: '';
    vertical-align: top;
    vertical-align: 0;
    background-position: -417px -116px;
}

.box-container-menu .list-service input[type=checkbox]{
    display: none;
}

.box-container-menu .list-service .icon-chk{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 4px 9px 0 0;
    vertical-align: top;
    background-position: -43px -404px;
}

.box-container-menu .list-service .service-data.chk-check .icon-chk{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-position: -22px -404px;
}

.box-container-menu .list-nav.type-empty .empty-box.type-point{
    border-color: #19ce60;
    background-color: #fff;
}

.box-container-menu .list-nav.type-empty .empty-box{
    width: 68px;
    height: 28px;
    border: 1px solid #dae1e6;
    border-radius: 2px;
    background-color: #f7f9fa;
}

.box-container-menu .list-nav.type-empty .nav-item+.nav-item {
    margin-left: 8px;
}

.box-container-menu .list-nav:after{
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}

/* 콘텐츠 관련 CSS */
.box-container-contents{
    height: 2579px;
}

.box-container-footer{
    height: 423px;
    background-color: rgb(250, 251, 252);
}

.main{
    padding: 20px 30px;
    letter-spacing: -.2px;
}

.column-left{
    float: left;
    width: 750px;
    height: 2539px;
    background-color: aliceblue;
}

.column-right{
    float: right;
    width: 350px;
    height: 1701px;
    background-color: aliceblue;
}

#veta-branding, #veta-top{
    position: relative;
}

.sc-newscast{
    width: 750px;
    margin-top: 12px;
}

.sc-newscast .group-issue{
    line-height: 24px;
    position: relative;
    padding: 12px 15px 11px 15px;
    border: 1px solid #dae1e6;
    background-color: #f7f9fa;
    height: 24px;
}

.sc-newscast .group-issue .issue-area {
    float: left;
}

.sc-newscast .group-issue .issue-area:after{
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}

.sc-newscast .group-issue .link-media{
    font-size: 13px;
    font-weight: 700;
    float: left;
    margin-right: 7px;
    text-decoration: none;
    color: #000;
}

.sc-newscast .group-issue .link-media:after{
    display: inline-block;
    width: 6px;
    height: 10px;
    margin: 7px 0 0 6px;
    content: '';
    vertical-align: top;
    background-position: -417px -90px;
}

.sc-newscast .group-issue .list-issue{
    float: left;
    overflow: hidden;
    width: 310px;
    height: 24px;
}

.sc-newscast .group-issue .direct-area{
    font-weight: 700;
    float: right;
}

.sc-newscast .group-issue .direct-area:after{
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}

.sc-newscast .group-issue .direct-area .link-news{
    color: #3565c9;
}

.sc-newscast .group-issue .direct-area .link-direct{
    margin: 0 4px 0 7px;
    color: #202020;
}

.sc-newscast .group-issue .direct-area .link-direct,
.sc-newscast .group-issue .direct-area .link-news {
    font-size: 13px;
    float: left;
    height: 24px;
    text-decoration: none;
}

.sc-newscast .group-issue .direct-area .link-news:after{
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 8px;
    content: '';
    vertical-align: top;
    vertical-align: 3px;
    border-radius: 50%;
    background-color: #c8ccd1;
}

/* 배경 이미지 클래스 */
.bn-btn-close::after,
.link-set::after,
.btn-more::after,
.group-keyword:after,
.btn-set::before,
.btn-reset::before,
.link-dic::after,
.list-service .icon-chk,
.sc-newscast .group-issue .link-media:after,
.bg-44265f{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}

.display-none{
    display: none;
}