@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    min-width: 1190px;
}
.container{
    width: 1190px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
/* whale 박스 관련 css */
.box-whale{
    height: 49px;
    background-color: rgb(0,203,174);
}
.link-whale{
    display: block;
    width: 100%;
    height: 49px;
}
.icon-whale{
    display: block;
    margin-top: 9px;
    width: 110px;
    height: 30px;
    background-position: -276px -225px;
    float: left;
}
.img-banner-whale{
    display: block;
    float: left;
    margin-left: 120px;
}
.text-banner{
    float: left;
    margin-left: 8px;
    height: 49px;
    line-height: 49px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: -0.25px;
}
.text-underline{
    text-decoration: underline;
}
.btn-down-whale{
    display: block;
    float: left;
    width: 68px;
    height: 28px;
    margin-top: 12px;
    margin-left: 20px;
    border: none;
    border-radius: 2px;
    color: #00cbae;
    background-color: #fff1c0;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 28px;
}
.btn-container-whale{
    float: right;
    height: 49px;
    border: none;
    background-color: transparent;
}
.btn-closetext-whale{
    display: block;
    height: 49px;
    color: #fff;
    font-size: 11px;
    font-family: -apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
    float: left;
    line-height: 47px;
}
.btn-close-whale{
    float: left;
    display: block;
    width: 23px;
    height: 23px;
    background-position: -429px -116px;
    margin-left: 4px;
    margin-top: 11px;
}
/* 검색창 관련 css */
.box-container-search{
    height: 161px;
}
.logo-naver{
    width: 225px;
    height: 52px;
    display: block;
    background-position: 0 -161px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 21px;
}
.box-search{
    width: 586px;
    height: 56px;
    box-sizing: border-box;
    border: 2px solid #19ce60;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    left: 268px;
}
.input-search{
    width: 470px;
    height: 50px;
    margin: 1px;
    box-sizing: border-box;
    float: left;
    padding: 13px;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.btn-v-keyboard{
    width: 36px;
    height: 56px;
    position: absolute;
    top: 0;
    right: 84px;
    display: block;
    z-index: 6;
}
.icon-v-keyboard{
    width: 20px;
    height: 12px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -10px;
    background-position: -400px -276px;
}
.box-msg-keyboard{
    position: absolute;
    top: 42px;
    left: -16px;
    width: 68px;
    height: 37px;
    background-position: -161px -115px;
    display: none;
}
.btn-v-keyboard:hover .box-msg-keyboard{
    display: block;
}
.btn-v-keyboard:hover .icon-v-keyboard{
    background-position: -64px -404px;
}
.btn-auto-search{
    position: absolute;
    display: block;
    width: 22px;
    height: 56px;
    top: 0;
    right: 64px;
}
.icon-auto-search{
    display: block;
    width: 10px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -5px;
    background-position: -429px -394px;
}
.icon-auto-search.active{
    background-position: -361px -308px;
}
.box-auto-up{
    padding: 17px 15px 15px;
    font-size: 12px;
    line-height: 23px;
}
.box-auto-down{
    padding: 8px 0;
    background-color: #f9fafc;
    font-size: 11px;
    color: #666;
    letter-spacing: -1px;
    line-height: 1.3em;
    border-top: 1px solid #ebeef3;
}
.box-auto-down::after{
    clear: both;
    content: '';
    display: block;
}
.auto-l{
    padding: 2px 0 0 12px;
    float: left;
}
.auto-r{
    float: right;
    padding: 2px 12px 0 0;
}
.link-help,
.link-auto-close{
    margin: 0 3px;
    color: #666;
}
.link-report{
    margin: 0 3px;
    color: #00a617;;
}
.auto-bar{
    height: 10px;
    display: inline-block;
    margin: -1px 4px 1px;
    border-left: 1px solid #e3e7ee;
    vertical-align: middle;
}
.box-auto-box{
    width: 586px;
    border: 1px solid #bec8d8;
    position: absolute;
    left: -2px;
    top: 52px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 5;
}
.btn-search{
    width: 56px;
    height: 56px;
    position: absolute;
    right: -2px;
    top: -2px;
    background-color: #19ce60;
    border-radius: 0 2px 2px 0;
    border: none;
}
.icon-search{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -429px -172px;
}

.box-container-service{
    position: absolute;
    top: 12px;
    right: 27px;
}
.link-set{
    font-size: 11px;
    float: left;
    color: #404040;
}
.link-set::after{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: -3px 0 0 3px;
    content: '';
    vertical-align: top;
    background-position: -391px -225px;
}
.link-set:hover{
    text-decoration: underline;
}
.icon-service-bar{
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #e4e8eb;
}
.link-jr{
    float: left;
}
.icon-jr{
    display: inline-block;
    width: 60px;
    height: 10px;
    margin: 3px;
    background-position: -348px -260px;
}
.link-jr:hover > .icon-jr{
    background-position : -214px -308px;
}
.link-happybean{
    float: left;
    margin-left: 6px;
}
.icon-happybean{
    display: inline-block;
    width: 34px;
    height: 11px;
    margin: 3px 3px 2px;
    background-position: -253px -323px;
}
.link-happybean:hover > .icon-happybean{
    background-position: -214px -323px;
}
/* 메뉴창 관련 css */
.box-container-menu{
    height: 50px;
    border-top: 1px solid rgb(222,226,229);
    border-bottom: 1px solid rgb(237,237,237);
}
.box-container-green{
    padding: 11px 0;
    float: left;
}
.box-menu-green{
    height: 30px;
    float: left;
    margin-left: 18px;
}
.box-menu-green:first-of-type{
    margin-left: 0;
}
.link-menu-black,
.link-menu-green{
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.3px;
    color: #03c75a;
}
.box-menu-green.mail .icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 3px 9px 0 0;
    vertical-align: top;
    background-position: -429px -227px;
}
.box-menu-green.tv .icon{
    display: inline-block;
    width: 12px;
    height: 14px;
    margin: 9px 2px 0 0;
    vertical-align: top;
    background-position: -458px -80px;
}
.box-container-black{
    padding: 11px 0;
    float: left;
}
.box-menu-black{
    height: 30px;
    float: left;
    margin: 18px;
}
.link-menu-black{
    color: black;
}
.btn-more{
    font-size: 13px;
    line-height: 30px;
    float: left;
    min-width: 70px;
    margin-left: 17px;
    color: #202020;
    display: block;
    padding: 11px 0;
    text-align: right;
}
.btn-more::after{
    display: inline-block;
    width: 11px;
    height: 7px;
    content: '';
    vertical-align: 2px;
    background-position: -458px -432px;
    margin-left: 7px;
}
/* 컨텐츠 관련 CSS */
.box-container-contents{
    height: 2685px;
}
.box-container-footer{
    height: 423px;
    background-color: rgb(250, 251, 252);
}
/* 배경 이미지 클래스 */
.link-set::after,
.bg-44265f{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}
.display-none{
    display: none !important;
}

.box-container-green::after,
.box-container-black::after,
.box-auto-down::after{
    clear: both;
    content: '';
    display: block;
}